body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    -webkit-tap-highlight-color: transparent; /*tira o click  do mobile*/
}

#header {
    background-color: #e6d119;
    color: #fff;
    padding: 12px;
    text-align: center;
    font-size: 24px;
    height: 30px;
}

#backi {
    position: absolute;
    left: 20px;
    top: 13px;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
}

.titulo {
    position: absolute;
    left: 60px;
}

#main {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

#main h3{
    cursor: default;
}

#header a {
    text-decoration: none;
    color: #fff;
}

#escolherajuda input[type="checkbox"]{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 20%;
    border: 1px solid #555;
    width: 15px;
    height: 15px;
    transform: translateY(4px);
    transition: background-color 0.4s ease;
}

#escolherajuda input[type="checkbox"]:checked{
    content: "";
    background: #e6d119;
    width: 15px;
    height: 15px;
}

#escolherajuda{
    position: absolute;
    margin-left: 10px;
}

#ajudas .btnenviar {
    margin-top: 50px;
    width: 270px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font: 600;
    font-size: 20px;
    background-color: #fded9d;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: #555 0 2px 2px 0;
}

#ajudas .btnenviar:hover {
    background-color: #ffe875;
}

#ajudas .btnenviar:focus {
    box-shadow: #555 0 0 0 0;
}