/*---cores---*/
:root {
    --cor-primaria: #00A3E0;
    --cor-botao: #72c2df;
    --cor-hover-botao: #39aed8;
  }
/*---------------------------------------------------------------------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    -webkit-tap-highlight-color:transparent; /*tira o click  do mobile*/
    user-select: none; /* Desativa a seleção de texto */
    -webkit-user-select: none; /* Suporte para navegadores baseados em WebKit */
    -moz-user-select: none; /* Suporte para Firefox */
    -ms-user-select: none; /* Suporte para navegadores Microsoft */
    -webkit-user-drag: none;
}

/*---header---*/

#header {
    background-color: var(--cor-primaria);
    border-bottom: #0d7ea7 1px solid;
    color: #fff;
    padding: 12px;
    text-align: center;
    font-size: 24px;
    height: 30px;
}

#backi {
    position: absolute;
    left: 20px;
    top: 13px;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
}

.titulo {
    position: absolute;
    left: 60px;
}

#header a {
    text-decoration: none;
    color: #fff;
}

/*---------------------------------------------------------------------*/

#main {
    margin: 20px auto;
    width: 50dvh;
    text-align: center;
}

/*---form ajudas---*/

#ajudas {
    display: flex;
}

#ajuda {
    margin-right: 50dvw;
    transition: all 1.5s ease;
}

.ajuda2 {
    display: none;
}

.ajuda2 p {
    font-weight: bold;
}

#rangeorcamento {
    -webkit-appearance: none; /* Remove o estilo padrão no WebKit */
    width: 80%;
    height: 8px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
    background: #ddd; /* Cor de fundo */
}

#rangeorcamento::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: var(--cor-primaria); /* Cor do botão do slider */
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.value-display {
    position: absolute;
    margin-left: 21dvw;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    display: none;
}

#escolherajuda input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 20%;
    border: 1px solid #555;
    width: 15px;
    height: 15px;
    transform: translateY(4px);
    transition: background-color 0.4s ease;
}

#escolherajuda input[type="checkbox"]:checked {
    content: "";
    background: var(--cor-primaria);
    width: 15px;
    height: 15px;
}

#escolherajuda {
    display: flex;
    margin-left: 10px;
}

#escolherajuda label{
    text-wrap: nowrap;
}

#espacoajuda {
    margin-top: 50px;
    width: 330px;
    height: 370px;
    overflow-y: auto;
    border: #3c6b7c 1px solid;
    border-radius: 10px;
}

#espacoajuda h3 {

}

#btnenviar {
    color: #fff;
    font-weight: bold;
    margin-top: 35px;
    width: 290px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font: 600;
    font-size: 30px;
    background-color: var(--cor-botao);
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: #555 0 2px 2px 0;

    align-items: center;
    justify-content: center;
}

.btnenviar:hover {
    background-color: var(--cor-hover-botao);
}

.btnenviar:focus {
    box-shadow: #555 0 0 0 0;
}

/*---------------------------------------------------------------------*/