/*---cores---*/
:root {
    --cor-primaria: #00A3E0;
    --cor-botao: #72c2df;
    --cor-hover-botao: #39aed8;
  }
/*---------------------------------------------------------------------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    -webkit-tap-highlight-color:transparent; /*tira o click  do mobile*/
    user-select: none; /* Desativa a seleção de texto */
    -webkit-user-select: none; /* Suporte para navegadores baseados em WebKit */
    -moz-user-select: none; /* Suporte para Firefox */
    -ms-user-select: none; /* Suporte para navegadores Microsoft */
    -webkit-user-drag: none;
}

/*---header---*/

#header {
    background-color: var(--cor-primaria);
    border-bottom: #0d7ea7 1px solid;
    color: #fff;
    padding: 12px;
    text-align: center;
    font-size: 24px;
    height: 30px;
}

#backi {
    position: absolute;
    left: 20px;
    top: 13px;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
}

.titulo {
    position: absolute;
    left: 60px;
}

#header a {
    text-decoration: none;
    color: #fff;
}

/*---------------------------------------------------------------------*/

#main {
    margin: 20px auto;
    width: 50dvh;
    text-align: center;
}

/*---form ajudas---*/

#escolherajuda input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 20%;
    border: 1px solid #555;
    width: 15px;
    height: 15px;
    transform: translateY(4px);
    transition: background-color 0.4s ease;
}

#escolherajuda input[type="checkbox"]:checked {
    content: "";
    background: var(--cor-primaria);
    width: 15px;
    height: 15px;
}

#escolherajuda {
    display: flex;
    margin-left: 10px;
}

#espacoajuda1 {
    height: 370px;
    overflow-y: auto;
    border: #3c6b7c 1px solid;
    border-radius: 10px;
}

.btnenviar {
    color: #fff;
    font-weight: bold;
    margin-top: 35px;
    width: 270px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font: 600;
    font-size: 30px;
    background-color: var(--cor-botao);
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: #555 0 2px 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnenviar:hover {
    background-color: var(--cor-hover-botao);
}

.btnenviar:focus {
    box-shadow: #555 0 0 0 0;
}

/*---------------------------------------------------------------------*/