body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    -webkit-tap-highlight-color:transparent; /*tira o click  do mobile*/
}

#header {
    background-color: #e6d119;
    color: #fff;
    padding: 12px;
    text-align: center;
    font-size: 24px;
    position: relative;
    height: 30px;
}

.titulo{
    position: absolute;
    left: 60px;
}

#header a {
    text-decoration: none;
    color: #fff;
}

#main {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

#logo {
    font-size: 40px;
    font-weight: bold;
    color: #e6d119;
}

#menu-button {
    position: absolute;
    left: 310px;
    top: 6px;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 23px;
    cursor: pointer;
    transition: all 0.50s ease;
    z-index: 2;
}

#menu {
    background-color: #e6d119;
    position: absolute;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-right: #dbc922 1px solid;
    transition: left 0.50s ease;
    z-index: 2;
}

#menu a {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s ease;
}

#menu a:hover {
    box-shadow: #fff 0 0 1px 1px;
}

#menu a:active {
    box-shadow: #fff 0 0 0px 0px;
}

#menu #whazap{
    position: absolute;
    padding: 5px 0;
    color: #5dff4e;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    bottom: 30px;
    cursor: pointer;
    border: 0px;
}

#menu #meugmail {
    color: #c54739;
    background-color: #fff;
    border-radius: 10px;
    width: 35px;
    font-size: 30px;
}

#menu #meugmail:active {
    height: 32px;
    width: 37px;
}

#menu #copiarbotao{
    position: absolute;
    padding: 5px 0;
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: 0px;
    font-weight: bold;
    font-size: 12px;
    bottom: 30px;
    left: 45px;
    cursor: pointer;
    border-bottom: 0px;
}

#menu a:last-child {
    border-bottom: none;
}

.login-button,
.cadastrar-button {
    background-color: #dbc922;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    font-weight: bold;
    border: #bbab20 1px solid;
}

.login-button {
    right: 10px;
    top: 10px;
}

.cadastrar-button {
    right: 100px;
    top: 10px;
}

.lugar_botoes{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.lugar_botoes i{
    position: absolute;
    color: #e6d119;
    font-size: 13px;
}

#star1 {
    right: 55px;
}
#star2 {
    right: 41px;
}
#star3 {
    right: 27px;
}
#star4 {
    right: 13px;
}
#star5 {
    right: -1px;
}

.lugar_botoes::-webkit-scrollbar{
    display: none;
}

/*divs*/
.divcasa,
.divempresa,
.divloja,
.divpintura,
.divreforma,
.divmudanca{
    background: linear-gradient(0deg,rgba(0, 0, 0,0.78) 20%, rgba(255,255,255,0) 100%);
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 0px 5px 0px 5px; /*1-cima 2-esquerda 3-baixo 4-direita*/
    position: relative;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    min-width: 150px;
    border: #555 1px solid;
}

/*imagens das divs*/
.divcasa img,
.divempresa img,
.divloja img,
.divpintura img,
.divreforma img,
.divmudanca img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    mix-blend-mode: multiply;
    transition: transform 0.3s ease;
    object-fit: cover;
    display: inline-block;
}

/*hover das divs*/
.divcasa:hover img,
.divempresa:hover img,
.divloja:hover img,
.divpintura:hover img,
.divreforma:hover img,
.divmudanca:hover img{
    transform: scale(1.2); /* Aumenta a imagem em 20% ao passar o mouse */
}

/*label das divs*/
.divcasa label,
.divempresa label,
.divloja label,
.divpintura label,
.divreforma label,
.divmudanca label{
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 20px;
    right: 15px;
    position: absolute;
}

h4{
    margin-left: 10px;
    font-size: 20px;
}