/*---cores---*/
:root {
    --cor-primaria: #00A3E0;
    --cor-background: #f5f5f5;
    --cor-sociais: rgba(21, 145, 190, 0.8);
  }
/*---------------------------------------------------------------------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-background);
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

*{
    -webkit-tap-highlight-color:transparent; /*tira o click  do mobile*/
    user-select: none; /* Desativa a seleção de texto */
    -webkit-user-select: none; /* Suporte para navegadores baseados em WebKit */
    -moz-user-select: none; /* Suporte para Firefox */
    -ms-user-select: none; /* Suporte para navegadores Microsoft */
    -webkit-user-drag: none;
}

/*---header---*/

#header {
    background-color: var(--cor-primaria);
    border-bottom: #0d7ea7 1px solid;
    color: #fff;
    padding: 12px;
    text-align: center;
    font-size: 24px;
    height: 30px;
    position: fixed;
    width: 100dvw;
    top: 0;
    z-index: 2;
}

#header a {
    text-decoration: none;
    color: #fff;
}

.titulo {
    position: absolute;
    left: 60px;
    z-index: 3;
    transition: all .4s ease;
}

/*---MENU PERFIL---*/

.user-container {
    position: fixed;
    display: inline-block;
    right: 10px;
}
  
#user-icon {
    transform: translateY(-1px);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.menuperfil {
    display: block; /* Escondido por padrão */
    position: absolute;
    top: -150px; /* Ajuste para posicionar abaixo do ícone */
    left: 50%;
    width:max-content;
    transform: translateX(-80%);
    background-color: var(--cor-primaria); /* Cor de fundo do menuperfil */
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 3;
    transition: all 0.4s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.menuperfil::before { /*seta em cima do menu*/
    content: "";
    position: absolute;
    top: -10px; /* Ajusta a seta para ficar em cima do menuperfil */
    left: 50%;
    transform: translateX(20px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--cor-primaria) transparent;
}

.menuperfil-item { /*itens do menu*/
    padding: 10px 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

/*---------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/

#main {
    margin: 5px 10px auto;
    width: 95%;
    text-align: center;
}

#main p{
    display: flex;
    align-self: flex-start;
    font-size: 16px;
    font-weight: bold;
}

/*---MENU ESQUERDA---*/

#menu-button {
    position: fixed;
    left: 10px;
    top: 6px;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 23px;
    cursor: pointer;
    transition: left 0.50s ease;
    z-index: 2;
}

#menu {
    background-color: var(--cor-primaria);
    position: fixed;
    top: 0;
    left: -300px; /* Alterado para que a barra lateral comece fechada */
    height: 98dvh;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-right: #0d7ea7 1px solid;
    transition: left 0.50s ease; /* Adiciona uma transição suave */
    z-index: 2;
}

.tituloMenu {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 60px;
    top: 12px;
    z-index: 3;
    transition: all .4s ease;
}

#paginasMenu {
    margin-top: 20px;
}

#paginasMenu a {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Adiciona uma linha entre os botões */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 21px;
    transition: all 0.5s ease;
}

#paginasMenu a:hover {
    box-shadow: #fff 0 0 1px 1px;
}

#paginasMenu a:active {
    box-shadow: #fff 0 0 0px 0px;
}

#paginasMenu a:last-child {
    border-bottom: none; /* Remove a linha do último botão */
}

#menu #menusociais {
    position: absolute;
    background-color: var(--cor-sociais);
    bottom: 5dvh;
    border-radius: 10px;
    width: 80px;
    display: flex;
    justify-content: space-around;
    border: #0d7ea7 1px solid;
}

#menu #whazap  {
    padding: 5px 0;
    color: #3be22c;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

#menu #meugmail {
    color: #c54739;
    font-size: 30px;
}

#menu #copiarbotao {
    padding: 5px 0;
    background-color: transparent;
    border: 0px;
    font-size: 12px;
    cursor: pointer;
}

#conteudo {
    text-align: center;
}

#conteudo img {
    width: 80%;
    border-radius: 30px;
}

/*---------------------------------------------------------------------*/

/*---SERVICOS---*/

.lugar_servicos {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 160px;
}

.lugar_servicos i {
    position: absolute;
    color: #ffe81e;
    font-size: 13px;
}

#star1 {
    right: 55px;
}
#star2 {
    right: 41px;
}
#star3 {
    right: 27px;
}
#star4 {
    right: 13px;
}
#star5 {
    right: -1px;
}

.lugar_servicos::-webkit-scrollbar {
    display: none;
}

/*divs*/
.divservicos {
    background: linear-gradient(0deg,rgba(0, 0, 0,0.78) 20%, rgba(255,255,255,0) 100%);
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 0px 5px 0px 5px; /*1-cima 2-direita 3-baixo 4-esquerda*/
    position: relative;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    min-width: 150px;
    flex: 1;
    border: #888 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/*imagens das divs*/
.divservicos img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    mix-blend-mode: multiply;
    transition: transform 0.5s ease;
    object-fit: cover;
    display: inline-block;
}

/*hover das divs*/
.divservicos:hover img {
    transform: scale(1.2); /* Aumenta a imagem em 20%*/
}

/*label das divs*/
.divservicos label {
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 20px;
    right: 15px;
    position: absolute;
}

/*---------------------------------------------------------------------*/

h3 {
    margin-top: 70px;
    margin-left: 10px;
}

#avaliacoes {
    width: 100%;
    height: 240px;
    border: #9999997e solid;
    border-width: 1px 0px 1px 0px; /* Cima, Direita, Baixo, Esquerda */
    margin-top: 10px;
}

#avaliacao #fotoCliente {
    position: absolute;
    transform: translate(10px,-100px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#avaliacao #nomeCliente {
    position: absolute;
    transform: translate(70px,-105px);
    font-weight: bold;
}

#avaliacao #dataAvaliacao {
    position: absolute;
    transform: translateY(-100px);
    right: 10px;
    color: #999;
    font-size: 12px;
}

#avaliacao #avaliacaoCliente {
    position: absolute;
    transform: translate(70px,-85px);
    font-weight: bold;
    color: #f3de1c;
    text-shadow: 
    -1px -1px 0px #9e9e9e, /* Sombra para a esquerda e para cima */
    1px -1px 0px #9e9e9e,  /* Sombra para a direita e para cima */
    -1px 1px 0px #9e9e9e,  /* Sombra para a esquerda e para baixo */
    1px 1px 0px #9e9e9e;   /* Sombra para a direita e para baixo */
    ;
}

#avaliacao #descricaoCliente {
    position: absolute;
    transform: translate(20px,-55px);
}

#imagensCliente {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 110px;
    margin-left: 10px;
    display: flex;
    height: 130px;
}

#imagensCliente::-webkit-scrollbar {
    display: none;
}

#imagensCliente img {
    flex-direction: column;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: 0 5px 0 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#imgZoomAvaliacao {
    background-color: #0000006c;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    z-index: 9;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

#imgZoomAvaliacao #fecharZoom {
    top: -20px;
    right: 10px;
    position: absolute;
    font-size: 25px;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    cursor: pointer;
}

#imgZoomAvaliacao img {
    width: max-content;
    height: max-content;
    max-height: 100dvh;
    max-width: 100dvw;
    width: 100%;
}

/*responsivo*/

/*---computador---*/
@media (min-width: 768px) {
    #conteudo img {
        width: 500px;
    }
}
/*---celular---*/
@media (max-width: 768px) {

}

/*---------------------------------------------------------------------*/