/*---cores---*/
:root {
    --cor-primaria: #00A3E0;
    --cor-sociais: rgba(23, 161, 211, 0.8);
  }
/*---------------------------------------------------------------------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    -webkit-tap-highlight-color:transparent; /*tira o click  do mobile*/
    user-select: none; /* Desativa a seleção de texto */
    -webkit-user-select: none; /* Suporte para navegadores baseados em WebKit */
    -moz-user-select: none; /* Suporte para Firefox */
    -ms-user-select: none; /* Suporte para navegadores Microsoft */
}

/*---header---*/

#header {
    background-color: var(--cor-primaria);
    color: #fff;
    padding: 12px;
    text-align: center;
    font-size: 24px;
    height: 30px;
}

.titulo {
    position: absolute;
    left: 60px;
}

/*---MENU PERFIL---*/

.user-container {
    position: absolute;
    display: inline-block;
    right: 10px;
}
  
#user-icon {
    font-size: 30px;
    cursor: pointer;
}
  
.menuperfil {
    display: block; /* Escondido por padrão */
    position: absolute;
    top: -150px; /* Ajuste para posicionar abaixo do ícone */
    left: 50%;
    width:max-content;
    transform: translateX(-80%);
    background-color: var(--cor-primaria); /* Cor de fundo do menuperfil */
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}
  
.menuperfil::before { /*seta em cima do menu*/
    content: "";
    position: absolute;
    top: -10px; /* Ajusta a seta para ficar em cima do menuperfil */
    left: 50%;
    transform: translateX(20px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--cor-primaria) transparent;
}
  
.menuperfil-item { /*itens do menu*/
    padding: 10px 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

/*---------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/

#main {
    margin: 5px 20px auto;
    width: 95%;
    text-align: center;
}

#main p{
    display: flex;
    align-self: flex-start;
    font-size: 16px;
    font-weight: bold;
}

/*---MENU ESQUERDA---*/

#menu-button {
    position: absolute;
    left: 310px;
    top: 6px;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 23px;
    cursor: pointer;
    transition: left 0.50s ease;
    z-index: 2;
}

#menu {
    background-color: var(--cor-primaria);
    position: absolute;
    top: 0;
    left: -300px; /* Alterado para que a barra lateral comece fechada */
    height: 100vh;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-right: #0d7ea7 1px solid;
    transition: left 0.50s ease; /* Adiciona uma transição suave */
    z-index: 2;
}

#menu a {
    display: block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Adiciona uma linha entre os botões */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 20px;
    transition: all 0.5s ease;
}

#menu a:hover {
    box-shadow: #fff 0 0 1px 1px;
}

#menu a:active {
    box-shadow: #fff 0 0 0px 0px;
}

#menu a:last-child {
    border-bottom: none; /* Remove a linha do último botão */
}

#menu #whazap  {
    padding: 5px 0;
    color: #3be22c;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

#menu #meugmail {
    color: #c54739;
    font-size: 30px;
}

#menu #copiarbotao {
    padding: 5px 0;
    background-color: transparent;
    border: 0px;
    font-size: 12px;
    cursor: pointer;
}

#menu #menusociais {
    position: absolute;
    background-color: var(--cor-sociais);
    bottom: 40px;
    border-radius: 10px;
    width: 80px;
    display: flex;
    justify-content: space-around;
    border: #0d7ea7 1px solid;
}


/*---------------------------------------------------------------------*/

#header a {
    text-decoration: none;
    color: #fff;
}

/*---SERVICOS---*/

.lugar_servicos {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: max-content;
}

.lugar_servicos i {
    position: absolute;
    color: #ffe81e;
    font-size: 13px;
}

#star1 {
    right: 55px;
}
#star2 {
    right: 41px;
}
#star3 {
    right: 27px;
}
#star4 {
    right: 13px;
}
#star5 {
    right: -1px;
}

.lugar_servicos::-webkit-scrollbar {
    display: none;
}

/*divs*/
.divservicos {
    background: linear-gradient(0deg,rgba(0, 0, 0,0.78) 20%, rgba(255,255,255,0) 100%);
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 0px 5px 0px 5px; /*1-cima 2-esquerda 3-baixo 4-direita*/
    position: relative;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    min-width: 150px;
    flex: 1;
    border: #555 1px solid;
}

/*imagens das divs*/
.divservicos img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    mix-blend-mode: multiply;
    transition: transform 0.5s ease;
    object-fit: cover;
    display: inline-block;
    
}

/*hover das divs*/
.divservicos:hover img {
    transform: scale(1.2); /* Aumenta a imagem em 20%*/
}

/*label das divs*/
.divservicos label {
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 20px;
    right: 15px;
    position: absolute;
}

/*---------------------------------------------------------------------*/

/*responsivo*/

@media (min-width: 768px) {
    
}

/*---------------------------------------------------------------------*/