/*---cores---*/
:root {
    --cor-primaria: #00A3E0;
    --cor-background: #f5f5f5;
    --cor-botao: #72c2df;
    --cor-hover-botao: #39aed8;
    --cor-placeholder: #a2ccdb;
  }
/*---------------------------------------------------------------------*/

body {
    padding-top: 60px;
    background-color: var(--cor-background);
    overflow: hidden;
}

*{
    -webkit-tap-highlight-color:transparent; /*tira o click  do mobile*/
    user-select: none; /* Desativa a seleção de texto */
    -webkit-user-select: none; /* Suporte para navegadores baseados em WebKit */
    -moz-user-select: none; /* Suporte para Firefox */
    -ms-user-select: none; /* Suporte para navegadores Microsoft */
    -webkit-user-drag: none;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header i {
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;
    font-size: 20px;
    color: var(--cor-primaria);
}

#curriculo {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100dvh;
}

#tela {
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 1.5s ease;
    text-align: center;
}

.tela1 {
    display: block;
}

.tela2 {
    display: none;
}

/*---form curriculo---*/

#espacocurriculo {
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    color: var(--cor-primaria);
    position: relative;
    border: #cfe3eb 1px solid;
}

#espacocurriculo h1 {
    margin-top: 25px;
    font-size: 25px;
    cursor: default
}

/*---entradas---*/

#espacocurriculo .entrada {
    width: 100%;
    height: 55px;
    margin: 10px 0;
}

.entrada input {
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(240, 240, 240, 0.8);
    border-radius: 40px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.entrada input::placeholder {
    color: var(--cor-placeholder);
}

.espacocurriculo1 #nome{
    margin-top: 70px;
}

.espacocurriculo1 .entrada{
    margin-top: 10px;
}

.espacocurriculo2 input{
    margin-top: 40px;
}

.espacocurriculo2 #experiencia {
    margin-top: 50px;
}

.espacocurriculo2 #formacao {
    margin-top: 5px;
}

.entradalonga textarea {
    width: 80%;
    height: 80px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(240, 240, 240, 0.8);
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    resize: none;
}

.entradalonga textarea::placeholder {
    color: var(--cor-placeholder);
}

/*--------------*/

#btncurriculo {
    color: #fff;
    font-weight: bold;
    width: 270px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
    font: 600;
    background-color: var(--cor-botao);
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: #555 0 2px 2px 0;
}

.btncurriculo1 {
    margin-top: 90px;
}

.btncurriculo2 {
    margin-top: 70px;
}

#btncurriculo:hover {
    background-color: var(--cor-hover-botao);
}

#btncurriculo:active {
    box-shadow: #555 0 0 0 0;
}

/*---------------------------------------------------------------------*/

/*---responsivo---*/

/*---celular---*/
@media screen and (max-width: 430px){ /*responsivo*/
    #espacocurriculo {
        width: 90dvw;
    }
}

/*---------------------------------------------------------------------*/